@import url(https://fonts.google.com/);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* General settings */

* {
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    overflow-y: hidden;
    text-align: center;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: white;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px hsl(214, 26%, 83%);
}

img {
    width: 310px;
    margin: 10px;
    border-radius: 20px;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin-top: 10px;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-top: 10px;
    padding-bottom: 50px;
}
